body{
    background-color: #ffffff;
    font-family: "SF Pro Display";
    font-style: normal;
}

#h{
    position:absolute;
    width:172px;
    height:36px;
    left: 30px;
    top: 25px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

#h{
    text-decoration: none;
    color: black;
}

#h:active{
    color: blue;
}

#home2{
    position: absolute;
    width: 55px;
    height: 24px;
    left: 1454px;
    top: 50px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

#home2:active{
    color: blue;
}

#recipes2{
    position: absolute;
    width: 73px;
    height: 24px;
    left: 1630px;
    top: 50px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

#recipes2:active{
    color: blue;
}